body {
    font-family: Arial, sans-serif;
    background-color: silver;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    color: black;
    padding: 20px;
}

.header {
    background-color: darkgray;
    border-bottom: 3px solid black;
    width: 100%;
}

.subTitle {
    text-align: center;
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

/* .footer {
    background-color: darkgray;
    text-align: center;
    padding: 10px 0;
    border-top: 3px solid black;
    height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
} */

#brand-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.brand-logo {
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    transition: all 0.3s ease;
}

.brand-logo:hover {
    opacity: 0.5;
    transform: scale(1.05);
}

.no-image {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    color: gray;
}

/* 여기부터 관리자 코드 입력 관련 */
#admin-section {
    text-align: center;
    margin-top: 30px;
}

#admin-code {
    padding: 10px;
    width: 300px;
    font-size: 1rem;
    margin-right: 10px;
    border: 3px solid black;
}

#admin-section button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

#admin-section button:hover {
    background-color: gray;
    transform: scale(1.05);
}

/* 여기부터 SearchPage css 선택자 */
.categoryHeader {
    background-color: darkgray;
    border-bottom: 3px solid black;
    width: 100%;
}

#search-form {
    font-weight: bold;
    font-size: 1.2rem;
}

.categoryButton {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
    font-weight: bold;
    width: 50%;
}

.categoryButton:hover {
    background-color: gray;
    transform: scale(1.01);
    font-size: 20px;
    border: solid black 3px;
}

.showTable {
    font-size: 20px;
    font-weight: bold; 
    margin-bottom: 10px;
}

.formContainer {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: lightslategray;
    border-radius: 10px;
    border: solid black 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inputTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: solid black 3px;
}

.inputTable th, .inputTable td {
    text-align: center;
    padding: 10px;
    border: solid black 2px;
}

.inputTable th {
    background-color: darkgray;
    font-weight: bold;
    width: 30%;
}

.inputTable td {
    background-color: lightgray;
    width: 70%;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 4px;
}

/* 조회 버튼을 클릭 시 조회되는 테이블 CSS 스타일 */
.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.results-table th, .results-table td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.results-table th {
    background-color: darkgray;
    font-weight: bold;
}

.results-table td {
    background-color: lightgray;
}
