<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Information System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        // 특정 브랜드의 ID와 이름을 쿼리 파라미터로 전달하며 검색 페이지로 이동
        function navigateToSearchPage(brandId, brandName) {
            window.location.href = `/search?brand_id=${brandId}&brand=${encodeURIComponent(brandName)}`;
        }

        // 관리자 코드 검증 및 이동
        function validateAdminCode() {
            const adminCodeInput = document.getElementById('admin-code').value;
            const errorMessage = document.getElementById('error-message');

            // 관리자 코드 검증
            if (adminCodeInput === "2022158067") {
                window.location.href = "/admin-page"; // 관리자 페이지로 이동
            } else {
                errorMessage.style.display = "block";
                errorMessage.style.fontWeight = "bold";
                errorMessage.style.fontSize = "20px";
                errorMessage.textContent = "잘못된 코드입니다. 다시 입력하세요. 🤔";
            }
        }
    </script>
</head>
<body>
    <div class="header">
        <h1>&lt; 자전거 정보 조회 시스템 &gt;</h1>
        <p class="subTitle">아래에서 원하는 자전거 브랜드를 선택하세요😊</p>
    </div>

    <!-- 브랜드 로고 섹션 -->
    <div id="brand-logos">
        {% for brand in brands %}
        <div>
            {% if brand.image_path %}
            <img src="{{ url_for('static', filename=brand.image_path.replace('static/', '')) }}" 
                 alt="{{ brand.brand_name }}" 
                 class="brand-logo" 
                 onclick="navigateToSearchPage('{{ brand.brand_id }}', '{{ brand.brand_name }}')">
            {% else %}
            <div class="no-image">
                <span>이미지 없음</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <!-- 관리자 입력 섹션 -->
    <div id="admin-section">
        <div class="showTable">
            자전거 정보 등록 테이블 조회
        </div>
        <input type="text" id="admin-code" placeholder="관리자 코드를 입력하세요." style="font-weight: bold">
        <button onclick="validateAdminCode()">관리자 접속</button>
        <p id="error-message" style="color: red; display: none;">잘못된 코드입니다 🥺</p>
    </div>

</body>
</html>